{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block content %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var currentSorteoIndex = null;

    $(document).ready(function(){
        $("#btn-sortear").click(function(){
            $.ajax({
                url: "/uploader",
                type: "POST",
                data: $("form").serialize(),
                success: function(data){
                    $("#resultados").empty();
                    $.each(data, function(index, value){
                        $("#resultados").append("<p>" + value.Numero + ": " + value.Nombre + " (ID de participación: " + value.ID_Participacion + ")</p>");
                    });
                }
            });
        });

        $("#sorteo-dropdown").change(function(){
            var selectedIndex = $(this).val();
            currentSorteoIndex = selectedIndex;
            if (selectedIndex) {
                $.ajax({
                    type: 'POST',
                    url: '/display_sorteo',
                    data: {'button_index': selectedIndex},
                    success: function(response) {
                        $("#resultados").empty();
                        $.each(response, function(index, value){
                            $("#resultados").append("<p>" + value.Numero + ": " + value.Nombre + " (ID de participación: " + value.ID_Participacion + ")</p>");
                        });
                        $("#resultados").append('<button onclick="borrarSorteo()">Borrar Sorteo</button>');
                    },
                    error: function(xhr, status, error) {
                        console.error("Error al procesar la solicitud:", error);
                    }
                });
            } else {
                $("#resultados").empty();
            }
        });

        $("#file").change(function(event){
            var file = event.target.files[0];
            if (file) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    var contents = e.target.result;
                    //console.log("File contents:", contents);  // Debugging line
                    var rows = contents.split("\n");
                    var headers = rows[0].split(",").map(function(header) {
                        return header.trim();
                    });
                    console.log("Headers:", headers);  // Debugging line
                    var requiredHeaders = ["ID", "nombre", "numero", "dni", "departamento", "region", "negocio", "hora", "semana", "imagen"];
                    var isValid = requiredHeaders.every(header => headers.includes(header));

                    if (!isValid) {
                        alert("El archivo CSV no tiene el formato correcto. Asegúrese de que las columnas sean: ID, nombre, numero, dni, departamento, region, negocio, hora, semana, imagen");
                        $("#file").val("");  // Clear the file input
                    } else {
                        console.log("Archivo CSV válido.");  // Debugging line
                    }
                };
                reader.readAsText(file);
            }
        });
    });

    function borrarSorteo() {
        if (confirm("¿Estás seguro de que deseas borrar este sorteo?")) {
            var selectedIndex = currentSorteoIndex;
            $.ajax({
                type: 'POST',
                url: '/borrar-sorteo',
                data: {'button_index': selectedIndex},
                success: function(response) {
                    alert(response.message);
                    $("#sorteo-dropdown option[value='" + selectedIndex + "']").remove();
                    $("#resultados").empty();
                },
                error: function(xhr, status, error) {
                    console.error("Error al borrar el sorteo:", error);
                }
            });
        }
    }

    function downloadAuxFile() {
        var fileUrl = 'static/sorteo.csv';
        var fileName = 'sorteo.csv';
        var link = document.createElement('a');
        link.href = fileUrl;
        link.download = fileName;
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    }
</script>

<h1 align="center">Sorteos</h1>
<form action="https://44c9-38-25-17-58.ngrok-free.app/uploader" method="POST" enctype="multipart/form-data">
    <div align="center">
        <label align="left">Fecha inicial</label>
        <input type="date" name="init_date" title="Fecha inicial" min="2024-07-15" max="2024-09-15">
    </div>

    <div align="center">
        <label align="left">Fecha final</label>
        <input type="date" name="end_date" title="Fecha final" min="2024-07-15" max="2024-09-15">
    </div>

    <div style="height: 20px;"></div>

    <div align="center">
        <input id="file" type="file" name="file" accept=".csv"/>
    </div>
    <div style="height: 20px;"></div>

    <div align="center">
        <label align="center">Cantidad de sorteados</label>
        <input type="number" name="num_sorteados" min="1"><br><br>
    </div>

    <div align="center">
        <label align="center">Nombre del sorteo</label>
        <input type="text" name="nom_sorteo"><br><br>
    </div>

    <div align="center">
        <label align="center">Tipo de negocio</label>
        <select name="tipo_negocio">
            <option value="BODEGA">BODEGA</option>
            <option value="MAYORISTA">MAYORISTA</option>
        </select><br><br>
    </div>

    <div align="center">
        <button type="submit" class="btn btn-primary">Crear Sorteo</button>
        <button onclick="downloadAuxFile()" type="button" class="btn btn-secondary">Descargar último sorteo</button>
    </div>
</form>

<div style="height: 30px;"></div>

<div align="center">
    <select id="sorteo-dropdown">
        <option value="">Selecciona un sorteo</option>
        {% if sorteos %}
            {% for index in sorteos %}
                <option value="{{ index }}">{{ index }}</option>
            {% endfor %}
        {% endif %}
    </select>
</div>

<div style="height: 20px;"></div>

<div align="center" id="resultados" data-sorteo-id="{{ sorteo_id }}">
    {% if sorteados %}
        {% for resultado in sorteados %}
            <p>{{ resultado.Numero }}: {{ resultado.Nombre }} (ID : {{ resultado.ID_Participacion }})</p>
        {% endfor %}
    {% endif %}
</div>

<div style="height: 50px;"></div>

{% endblock %}
